.profile-body-container{
    display: inline-flex;
    padding-top: 20px;
}

.user-profile-container{
    padding-left: 30px;
    padding-right: 300px;
}

.dashboard {
    width: 100%;
    height: 200px;
}