.container{
    display: block;
    background-image: image-url("login_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    object-position:50% 50%;
}

.main-logo-div{
    padding-right: 700px;
}

 .signup-button-login {
    font-family: 'Ramabhadra', sans-serif;
    border-radius: 4px;
    border: solid lightgray .5px;
    padding: 3px 10px 3px 17px;
    width: 50px;
    height: 25px;
    font-size: 11px;
    

    background-color:rgb(228, 77, 14);
}

.signup-button-login a {

    color: white;

}



.login-container{
    display: block;
    align-items: center;
    width: 180px;
    margin: 0 auto;
    text-align: center;
    padding-right: 350px;
    height: 100px;
    padding-top: 50px;
}

.login-message{
    font-family: 'Ramabhadra', sans-serif;
    display: block;
    background-color: black;
    color: white;
    opacity: 1;
    height: 30px;
    width: 400px;
    height: 70px;
    margin-left: 10px;
    font-size: 32px;
    
}

.login-form{
    display: block;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    padding-top: 30px;
    width: 400px;
    height: 350px;
    margin-left: 10px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.username-form{
    border-radius: 2px;
    border: solid lightgray .5px;
    border-radius: 2px;
    height: 15px;
    outline:none;
    color: white;
   

}

.username-form:focus{
    box-shadow: 0 0 5px rgb(221, 227, 228);
}



.password-form{
    border-radius: 2px;
    border: solid lightgray .5px;
    border-radius: 2px;
    height: 15px;
    outline:none;
    color: white;

}

.password-form:focus{
    box-shadow: 0 0 5px rgb(221, 227, 228);
}


.session-submit{
    margin-top: 15px;
    background-color:rgb(255, 72, 0);
    width: 120px;
    height: 20px;
    border-radius: 2px;
    border: none black .5px;
    font-weight: bold;
    color: white;
    font-size: 7px;
    outline:none;
}

.session-submit:hover{
    box-shadow: 0 0 5px rgb(221, 227, 228);
}

.demo-submit{
    margin-top: 15px;
    background-color:rgb(255, 72, 0);
    width: 200px;
    height: 35px;
    border-radius: 2px;
    border: none black .5px;
    font-weight: bold;
    color: white;
    font-size: 11px;
    outline:none;
}

.demo-submit:hover{
    box-shadow: 0 0 5px rgb(221, 227, 228);
}

.error-messages-1 li{
    padding-left: 20px;
    text-align: center;
    display: flex;
    font-family: 'Ramabhadra', sans-serif;
    background: rgba(0, 0, 0, 0.7);
    color: red;
    font-size: 5px;
    list-style-type: circle
}