.main-logo{
    width: 200px;
    height: 30px;
    padding-left: 300px;
    padding-right: 80px;
    margin: 0 auto;
}

.workout-nav{
    display: inline-flex;
    padding-top: 50px;
    align-content: center;
}

.log-out-btn{
    font-family: 'Ramabhadra', sans-serif;
    border-radius: 5px;
    border: solid lightgray .5px;
    padding: 0px 30px 30px 30px;
    width: 100px;
    height: 1px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(245,245,250);
    white-space: nowrap;
    color:black
}

.navbar{
    display: flex;
    width: 100%;
    padding-top: 15px;
}

.link-backs{
    font-family: 'Open Sans Condensed', sans-serif;
    display: inline-flex; 
}

.link-backs a {
    color: black;
    font-size: 14px;
}

.link-backs a:hover {
    background-color:rgb(245,245,250);
}

.link-backs .dashboard-link{
    padding-right: 100px;
    padding-top: 5px;
   
}

.link-backs .workout-link{
    padding-right: 528px;
    padding-top: 5px;
}


.new-workout-link{
    font-family: 'Ramabhadra', sans-serif;
    border-radius: 5px;
    border: solid lightgray .5px;
    padding: 0px 30px 30px 30px;
    width: 100px;
    height: 1px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    background-color:rgb(223, 72, 0);
    margin-top: 60px;
}

.workout-nav a {
    font-family: 'Ramabhadra', sans-serif;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 9px;
    color:white;
    padding-top: 2px;
}


.workout-header{
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 50px;
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 300px;
    font-weight: bolder;
    font-size: 30px;
    padding-right: 931px;
}

.workout-list-container{
  padding-left: 280px;
  padding-top: 50px;

}

.customers {
    border-collapse: collapse;
    width: 80%;
 
}

.customers td, .customers thead {
    padding: 8px;
}

.customers tr:nth-child(even){
    background-color:rgb(245,245,250);
}

.customers thead {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:rgb(230,230,235);
    color:black;
    font-family: 'Ramabhadra', sans-serif;
    border-bottom: solid .5px lightgray;
}

thead {
    justify-content: space-evenly;
    width: 100%;
}



.height-div th{
    height: 40px;
    text-align: left;
   
}


tbody tr{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 11px;
    padding-top: 10px;
    border-bottom: solid .5px lightgray;
}



.workout-footer{
    position: fixed;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: rgb(230,230,235);
}

.copyright{
    color: lightgrey;
    padding-left: 300px;
}


.divider{
    width:5px;
    height:auto;
    display:inline-block;
}


//////////////////////////////


